<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- This adapter.js file de-prefixes the webkit* and moz* prefixed RTC
             methods. When RTC becomes a more solid standard, this adapter should no
             longer be necessary. -->
        <!-- <script src="https://webrtc.googlecode.com/svn/trunk/samples/js/base/adapter.js"></script> -->
        <style>
            html, body { 
                background-color: #333; 
            }
            video {
                width:  320px;
                height:  240px;
                border:  1px solid black;
            }
        </style>

        <!-- <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script> -->

    </head>
    <body>
        
        <div class="createRoomButton">
            <input type="text" name="search" id="search">
            <button class="btn btn-sm" onclick="getRoomRequest()">create room</button>
            <input type="hidden" name="roomId" id="roomId" value="0">
        </div>
        <!-- 
        the <video> and <audio> tags are all added and removed dynamically
        in 'onAddStream', 'setup_local_media', and 'removePeer'/'disconnect'
        -->
    </body>
    <script>
        // $( document ).ready(function() {
        //     $('.createRoomButton').hide();
        //     var curUrl = window.location.href;
        //     var urlArray = curUrl.split("/");
        //     var DEFAULT_CHANNEL = urlArray[urlArray.length - 1];
        //     console.log(DEFAULT_CHANNEL);
        //     if(DEFAULT_CHANNEL == ''){
        //         $('.createRoomButton').show();
        //         $('#roomId').val(0);
        //     }else{
        //         $('.createRoomButton').hide();
        //     }
            
        // });
        var roomName = prompt("Please enter your room name", "");
        console.log("roomName",roomName);
        fetch("https://192.168.68.133:8080/create/"+roomName)
        .then(response => response.json())
        .then(data =>{
            if(data.success){
                let intend = 'https://192.168.68.133:8080/'+roomName;
                window.location = intend;
            }else{
                console.log('false condition');
                alert('room already exist');
            }
        });
        // function getRoomRequest(){
        //     var roomId = $('#roomId').val();
        //     $.ajax({
        //             datatype: "json",
        //             type: "post",
        //             url: "{{url('admin/get-offer-tour-list')}}",
        //             data: { "_token": "{{ csrf_token() }}", discountType: discountType}
        //         }).done(function(data){
        //         if(data.status == true){

        //             $('#fixed-tours').html(data.toursSelectView);
        //         }
        //         });
        // }
        //init();
    </script>
</html>
